DATABASE_URL="postgresql://neondb_owner:npg_bAkJe9HjtWn5@ep-snowy-union-aius7ziy-pooler.c-4.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"


JWT_SECRET="ragkjlskfgbkksgloisglkfbhjkfprfkljb"